body {
  background-color: rgb(227, 233, 233);
}

#container {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  gap: 4%;

  textarea {
    resize: none;
    border-radius: 50px;
    /* width: 80%; */
    height: 5vh;
  }
}
.postDiv input {
  width: 100%;
  border-radius: 50px;
  border: 1px solid black;
  margin: 4%;
}
.post-card {
  background-color: white;

  padding: 2%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4%;
  transition: transform 0.3s ease;
}

.post-card:hover {
  transform: scale(1.03);
}

.post-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin: 3%;
}
